<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-88">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="description" content="{% block description %}Compilation of extracted CSS styles on the SCP Wiki{% endblock %}">
  <meta name="keywords" content="{% block keywords %}scp,wiki,styles,wikidot{% endblock %}">
  <meta name="author" content="{% block author %}SCP Wiki{% endblock %}">
  <meta name="generator" content="wikidot-css-scraper">

  {% include 'style.j2' %}

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="container">
  {% block body %}{% endblock %}
</div>

{% block footer %}{% endblock %}
</body>
