{% extends 'base.j2' %}

{% from 'utils.j2' import plural_count %}

{% block title %}SCP Wiki Extracted Styles{% endblock %}

{% block body %}
  <h1 class="pages-header">Pages</h1>

  <ul class="pages-list">
    {% for page in pages %}
      <li>
        <a href="/{{ page.slug }}.html">{{ page.title }}</a> &mdash;
        {{ plural_count(page.styles, 'style') }},
        {{ plural_count(page.source, 'character') }} of page source
      </li>
    {% endfor %}
  </ul>
{% endblock %}
