{% extends 'base.j2' %}

{% block title %}SCP Wiki Extracted Styles{% endblock %}

{% block body %}
  <h1 class="pages-header">Pages</h1>

  <ul class="pages-list">
    {% for page in pages %}
      <li>
        <a href="/{{ slug }}.html">{{ title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
