{% extends 'base.j2' %}

{% from 'utils.j2' import plural_count %}

{% block title %}SCP Wiki Extracted Styles{% endblock %}

{% block body %}
  <h1 class="pages-name">Extracted Styles</h1>

  <h2 class="pages-header">Pages</h2>
  <ul class="pages-list">
    {% for page in pages %}
      <li>
        <a href="/wikidot-css-scraper/{{ page.slug }}.html">{{ page.title }}</a> &ndash;
        {{ plural_count(page.styles, 'style') }},
        {{ plural_count(page.source, 'character') }} of page source
      </li>
    {% endfor %}
  </ul>

  <h2 class="pages-header">Styles</h2>
  <p>
    This is a deduplicated list of stylings found across all scraped pages, along with the number of occurrences for each.
  </p>

  TODO
{% endblock %}
