{% extends 'base.j2' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="page">
    <h1 class="page-name">{{ title }}</h1>

    <h2 class="page-header">Styles</h2>
    <ul class="page-styles">
      {% for style in styles %}
        <li>
          <code>{{ style }}</code>
        </li>
      {% endfor %}
    </ul>

    <h2 class="page-header">Page Source</h2>
    <pre><textarea class="page-source" readonly>{{ source }}</textarea></pre>
  </div>
{% endblock %}
