{% extends 'base.j2' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="page">
    <h1 class="title">{{ title }}</h1>

    <h2 class="header">Styles</h2>
    <ul class="styles">
      {% for style in styles %}
        <li>
          <pre><code>{{ style }}</code></pre>
        </li>
      {% endfor %}
    </ul>

    <h2 class="header">Page Source</h2>
    <pre><textarea class="page-source" readonly>{{ source }}</textarea></pre>
  </div>
{% endblock %}
