{% macro plural(count, word) %}
  {# For printing strings like "12 apples", where the 's' depends on the count's value #}
  {{- commaify(count) }} {{ word -}}
  {%- if count != 1 -%}
    s
  {%- endif -%}
{% endmacro %}

{% macro commaify(value) %}
  {{- format(int(value, ',d')) -}}
{% endmacro %}
