{% extends 'base.j2' %}

{% from 'utils.j2' import anchor, plural %}

{% block title %}SCP Wiki CSS Classes{% endblock %}

{# Helper macros #}

{% macro build_list_item(operator, value) %}
  {% for class, pages, count in classes %}
    {% if cmp(count, operator, value) %}
      <li>
        {{ plural(count, 'usage') }}
        {{- anchor('class', class) }}

        <pre class="code"><code>{{ class }}</code></pre>

        <details>
          <summary>Pages using this CSS class</summary>

          <ul>
            {% for page in pages %}
              <li><code>{{ page }}</code></li>
            {% endfor %}
          </ul>
        </details>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro build_list(value) %}
  {{ build_list_item('>=', value) }}

  <li class="no-bullet">
    <details>
      <summary>Uncommon (less than {{ value }})</summary>

      {{ build_list_item('<', value) }}
    </details>
  </li>
{% endmacro %}

{# Actual body #}

{% block body %}
  <h1 class="title">Used CSS Classes</h1>

  <p>
    A list of CSS class names found used throughout the sites.
  </p>

  <h2 class="header">CSS Classes</h2>
  <ul class="css-classes-count">
    {{ build_list(11) }}
  </ul>
{% endblock %}
