{% extends 'base.j2' %}

{% from 'utils.j2' import anchor, plural, page_link, include_link %}

{% block title %}SCP Wiki Inclusions{% endblock %}

{# Helper macros #}

{% macro build_list_item(operator, value, includes) %}
  {% for include, pages, count in includes %}
    {% if cmp(count, operator, value) %}
      <li>
        {{- anchor('include', include|urlencode) }}
        {{ plural(count, 'inclusion') }}

        {{ include_link(include) }}

        <details>
          <summary>Pages including this</summary>

          <ul>
            {% for page, count in pages %}
              <li>
                {{ page_link(page) }}

                {% if count > 1 %}
                  ({{ count }})
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </details>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro build_list(value, includes) %}
  {{ build_list_item('>=', value, includes) }}

  <li class="no-bullet">
    <details>
      <summary>Uncommon (less than {{ value }})</summary>

      {{ build_list_item('<', value, includes) }}
    </details>
  </li>
{% endmacro %}

{# Actual body #}

{% block body %}
  <h1 class="title">Included Pages</h1>

  <p>
    A deduplicated list of included pages found across all pages.
  </p>

  <details>
    <summary>By individual include</summary>

    <ol class="includes-count">
      {{ build_list(11, includes) }}
    </ol>
  </details>

  <details>
    <summary>By site</summary>

    <ol class="includes-count">
      {% for site, includes, count in site_includes %}
        <li>
          <details>
            <summary>
              Site: <code>{{ site }}</code> ({{ plural(count, 'inclusion') }} total)
            </summary>

            <ol class="includes-sublist">
              {{ build_list(5, includes) }}
            </ol>
          </details>
        </li>
      {% endfor %}
    </ol>
  </details>
{% endblock %}
