{% extends 'base.j2' %}

{% from 'utils.j2' import anchor, plural %}

{% block title %}SCP Wiki Extracted Styles{% endblock %}

{% block body %}
  <h1 class="title">Extracted Styles</h1>

  <h2 class="header">Module Styles</h2>
  <p>
    There are {{ module_styles|length }} unique stylings in
    <code>[[module CSS]]</code> blocks across the SCP Wiki.
    The 10 most common are:
  </p>

  <ul>
    {% for style, count in module_styles[:10] %}
      <li>
        <pre><code>{{ style }}</code></pre>
      </li>
    {% endfor %}
  </ul>

  <p>
    See the full list: <a href="/wikidot-css-scraper/module-css.html">Module CSS</a>.
  </p>

  {# ------ #}

  <h2 class="header">Inline Styles</h2>
  <p>
    There are {{ inline_styles|length }} unique inline stylings
    across the SCP Wiki.
    The 10 most common are:
  </p>

  <ul>
    {% for style, count in inline_styles[:10] %}
      <li>
        <pre><code>{{ style }}</code></pre>
      </li>
    {% endfor %}
  </ul>

  <p>
    See the full list: <a href="/wikidot-css-scraper/inline-css.html">Inline CSS</a>.
  </p>

  {# ------ #}

  <details>
    <summary>Includes</summary>

    <p>
      A list of which pages are included most often by other pages.
    </p>

    <h2 class="header">Includes</h2>
    <ul class="includes-count">
      {% for include, count in includes %}
        {% if count > 1 %}
          <li>
            {{ plural(count, 'inclusion') }}
            {{- anchor('include', include) }}

            <pre><code>{{ include }}</code></pre>
          </li>
        {% endif %}
      {% endfor %}

      <li class="no-bullet">
        <details>
          <summary>Unique</summary>

          {% for include, count in includes %}
            {% if count == 1 %}
              <li>
                {{ plural(count, 'inclusion') }}
                {{- anchor('include', include) }}

                <pre><code>{{ include }}</code></pre>
              </li>
            {% endif %}
          {% endfor %}
        </details>
      </li>
    </ul>
  </details>

  {# ------ #}

  <h2 class="header">CSS Classes</h2>
  <p>
    There are {{ classes|length }} unique CSS classes in use across the SCP Wiki.
    The 10 most common are:
  </p>

  <ul>
    {% for class, count in classes[:10] %}
      <li>
        <pre><code>{{ class }}</code></pre>
      </li>
    {% endfor %}
  </ul>

  <p>
    See the full list: <a href="/wikidot-css-scraper/classes.html">CSS Classes</a>.
  </p>

  {# ------ #}

  <details>
    <summary>Pages</summary>

    <table class="page-list">
      <caption>
        A listing of all pages on the site, along with a summary
        of the properties being extracted here.
      </caption>

      <thead>
        <tr>
          <th scope="col">Title / Link</th>
          <th scope="col">Slug</th>
          <th scope="col">Module Styles</th>
          <th scope="col">Inline Styles</th>
          <th scope="col">CSS Classes</th>
          <th scope="col">Wikitext Length (characters)</th>
        </tr>
      </thead>

      <tbody>
        {% for page in pages %}
          <tr>
            <td>
              <a href="/wikidot-css-extractor/pages/{{ page.slug }}.html">{{ page.title }}</a>
              {{- anchor('page', page.slug) }}
            </td>

            <td>
              <code>{{ page.slug }}</code>
            </td>

            <td class="number">{{ page.module_styles|length|commaify }}</td>
            <td class="number">{{ page.inline_styles|length|commaify }}</td>
            <td class="number">{{ page.classes|length|commaify }}</td>
            <td class="number">{{ page.source|length|commaify }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </details>

  <details>
    <summary>Raw Data</summary>

    <p>
      Raw JSON file:
      <a href="https://github.com/ammongit/wikidot-css-extractor/raw/gh-pages/results.json"><code>results.json</code></a>
      <br>
      This contains all the data used to build this webpage.
    </p>

    <p>
      <strong>Warning!</strong> The file is very large, &gt; 100 MB.
    </p>
  </details>
{% endblock %}
