{% extends 'base.j2' %}

{% from 'utils.j2' import anchor, plural %}

{% block title %}SCP Wiki Extracted Styles{% endblock %}

{% block body %}
  <h1 class="title">Extracted Styles</h1>

  <details>
    <summary>Pages</summary>

    <table class="page-list">
      <caption>
        A listing of all pages on the site, along with a summary
        of the properties being extracted here.
      </caption>

      <thead>
        <tr>
          <th scope="col">Title / Link</th>
          <th scope="col">Slug</th>
          <th scope="col">Module Styles</th>
          <th scope="col">Inline Styles</th>
          <th scope="col">CSS Classes</th>
          <th scope="col">Wikitext Length (characters)</th>
        </tr>
      </thead>

      <tbody>
        {% for page in pages %}
          <tr>
            <td>
              <a href="/wikidot-css-scraper/{{ page.slug }}.html">{{ page.title }}</a>
              {{- anchor('page', page.slug) }}
            </td>

            <td>
              <code>{{ page.slug }}</code>
            </td>

            <td class="number">{{ page.module_styles|length|commaify }}</td>
            <td class="number">{{ page.inline_styles|length|commaify }}</td>
            <td class="number">{{ page.classes|length|commaify }}</td>
            <td class="number">{{ page.source|length|commaify }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </details>

  <details>
    <summary>Module Styles</summary>

    <p>
      A deduplicated list of styles found in <code>[[module CSS]]</code> blocks across all pages.
    </p>

    <ul class="module-styles-count">
      {% for style, count in module_styles %}
        <li>
          {{ plural(count, 'occurrence') }}
          {{- anchor('module', loop.index) }}

          <pre><code>{{ style }}</code></pre>
        </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary>Inline Styles</summary>

    <p>
      A deduplicated list of inline styling found in various blocks across all pages.
    </p>

    <ul class="inline-styles-count">
      {% for style, count in inline_styles %}
        <li>
          {{ plural(count, 'occurrence') }}
          {{- anchor('inline', loop.index) }}

          <pre><code>{{ style }}</code></pre>
        </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary>CSS Class Names</summary>

    <p>
      A list of CSS class names found used throughout the sites.
    </p>

    <h2 class="header">CSS Classes</h2>
    <ul class="css-classes-count">
      {% for class, count in classes %}
        <li>
          {{ plural(count, 'usage') }}
          {{- anchor('class', loop.index) }}

          <pre><code>{{ class }}</code></pre>
        </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary>Raw Data</summary>

    <p>
      Raw JSON file:
      <a href="https://github.com/ammongit/wikidot-css-extractor/raw/gh-pages/results.json"><code>results.json</code></a>
    </p>

    <p>
      This contains all the data used to build this webpage.
      Warning! The file is very large, &gt; 100 MB.
    </p>
  </details>
{% endblock %}
