{% extends 'base.j2' %}

{% from 'utils.j2' import anchor, plural, include_link %}

{% block title %}SCP Wiki Style Statistics{% endblock %}

{% block body %}
  <h1 class="title">Extracted Page Information</h1>
  <p>
    This page contains collected information from the wikitext of all the pages on the
    SCP Wiki. The goal is to permit easy introspection over styling, includes, and other
    usages on pages because these capabilities are not made easy via Wikidot.
  </p>

  <p>
    Additionally, if you download the JSON dataset (see below), you can use the
    <code>grep.py</code> script to search through all page sources via regular expression.
  </p>

  <p>
    See the <a href="https://github.com/ammongit/wikidot-css-extractor">GitHub repository</a>
    for more information.
  </p>

  {# ------ #}

  <h2 class="header">
    <a href="/wikidot-css-extractor/pages/" target="_blank">
      Pages
    </a>
  </h2>
  <p>
    There are {{ pages|length|commaify }} pages on the SCP Wiki.
  </p>

  {# ------ #}

  <h2 class="header">
    <a href="/wikidot-css-extractor/module-css.html" target="_blank">
      Module Styles
    </a>
  </h2>
  <p>
    There are {{ module_styles|length|commaify }} unique stylings in
    <code>[[module CSS]]</code> blocks across the SCP Wiki.
    The top 3 most common are:
  </p>

  <ol>
    {% for style, count in module_styles[:3] %}
      <li>
        <pre><code>{{ style }}</code></pre>
      </li>
    {% endfor %}
  </ol>

  {# ------ #}

  <h2 class="header">
    <a href="/wikidot-css-extractor/inline-css.html" target="_blank">
      Inline Styles
    </a>
  </h2>
  <p>
    There are {{ inline_styles|length|commaify }} unique inline stylings
    across the SCP Wiki.
    The top 10 most common are:
  </p>

  <ol>
    {% for style, count in inline_styles[:10] %}
      <li>
        <pre><code>{{ style }}</code></pre>
      </li>
    {% endfor %}
  </ol>

  {# ------ #}

  <h2 class="header">
    <a href="/wikidot-css-extractor/includes.html" target="_blank">
      Inclusions
    </a>
  </h2>
  <p>
    There are {{ includes|length|commaify }} unique included pages in use across the SCP Wiki.
    The top 10 most common are:
  </p>

  <ol>
    {% for include, count in includes[:10] %}
      <li>{{ include_link(include) }}</li>
    {% endfor %}
  </ol>

  {# ------ #}

  <h2 class="header">
    <a href="/wikidot-css-extractor/classes.html" target="_blank">
      CSS Classes
    </a>
  </h2>
  <p>
    There are {{ classes|length|commaify }} unique CSS classes in use across the SCP Wiki.
    The top 10 most common are:
  </p>

  <ol>
    {% for class, count in classes[:10] %}
      <li>
        <pre><code>{{ class }}</code></pre>
      </li>
    {% endfor %}
  </ol>

  {# ------ #}

  <h2 class="header">Raw Data</h2>
  <p>
    Raw JSON file:
    <a href="https://github.com/ammongit/wikidot-css-extractor/raw/gh-pages/results.json"><code>results.json</code></a>
    <br>
    This contains all the data used to build this webpage.
  </p>

  <p>
    <strong>Warning!</strong> The file is very large, &gt; 100 MB.
  </p>
{% endblock %}
