{% extends 'base.j2' %}

{% from 'utils.j2' import anchor, plural, page_link %}

{% block title %}SCP Wiki CSS Modules{% endblock %}

{# Helper macros #}

{% macro build_list_item(operator, value) %}
  {% for style, pages, count in styles %}
    {% if cmp(count, operator, value) %}
      <li>
        {{- anchor('module', style|sha1) }}
        {{ plural(count, 'occurrence') }} <br>

        <pre class="code-large"><code>{{ style }}</code></pre>

        <details>
          <summary>Pages using this styling</summary>

          <ul>
            {% for page, count in pages %}
              <li>
                {{ page_link(page) }}

                {% if count > 1 %}
                  ({{ count }})
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </details>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro build_list(value) %}
  {{ build_list_item('>=', value) }}

  <li class="no-bullet">
    <details>
      <summary>Uncommon (less than {{ value }})</summary>

      {{ build_list_item('<', value) }}
    </details>
  </li>
{% endmacro %}

{# Actual body #}

{% block body %}
  <h1 class="title">Module Styles</h1>

  <p>
    A deduplicated list of styles found in <code>[[module CSS]]</code> blocks across all pages.
  </p>

  <ul class="module-css-count">
    {{ build_list(5) }}
  </ul>
{% endblock %}
