{% extends 'base.j2' %}

{% from 'utils.j2' import include_link, page_link %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="page">
    <h1 class="title">{{ title }}</h1>
    <p>
      Link to article: <a href="{{ page_link(slug) }}">{{ title }}</a>.
    </p>

    <h2 class="header">Module Styles</h2>
    <ul class="module-styles">
      {% for style in module_styles %}
        <li>
          <pre><code>{{ style }}</code></pre>
        </li>
      {% else %}
        <li>
          (none)
        </li>
      {% endfor %}
    </ul>

    <h2 class="header">Inline Styles</h2>
    <ul class="inline-styles">
      {% for style in inline_styles %}
        <li>
          <pre><code>{{ style }}</code></pre>
        </li>
      {% else %}
        <li>
          (none)
        </li>
      {% endfor %}
    </ul>

    <h2 class="header">Includes</h2>
    <ul class="includes">
      {% for include in includes %}
        <li>{{ include_link(include) }}</li>
      {% else %}
        <li>(none)</li>
      {% endfor %}
    </ul>

    <h2 class="header">CSS Classes</h2>
    <ul class="css-classes">
      {% for class in classes %}
        <li>
          <pre><code>{{ class }}</code></pre>
        </li>
      {% else %}
        <li>
          (none)
        </li>
      {% endfor %}
    </ul>

    <h2 class="header">Page Source</h2>
    <pre><textarea class="page-source" readonly>{{ source }}</textarea></pre>
  </div>
{% endblock %}
