{% extends 'base.j2' %}

{% from 'utils.j2' import anchor, plural %}

{% macro too_big(collection, bound) %}
  {%- if collection|length >= bound -%}
    alert
  {%- endif -%}
{% endmacro %}

{% block title %}SCP Wiki Extracted Pages{% endblock %}

{% block body %}
  <h1 class="title">Pages</h1>

  <p>
    A listing of all pages on the site, along with a summary
    of the properties being extracted here.
  </p>

  <table class="page-list">
    <thead>
      <tr>
        <th scope="col">Title / Link</th>
        <th scope="col">Slug</th>
        <th scope="col">Module Styles</th>
        <th scope="col">Inline Styles</th>
        <th scope="col">CSS Classes</th>
        <th scope="col">Wikitext Length (characters)</th>
      </tr>
    </thead>

    <tbody>
      {% for page in pages %}
        <tr>
          <td>
            <a href="/wikidot-css-extractor/pages/{{ page.slug }}.html">{{ page.title }}</a>
            {{- anchor('page', page.slug) }}
          </td>

          <td>
            <code>{{ page.slug }}</code>
          </td>

          <td class="number {{ too_big(page.module_styles, 3) }}">
            {{ page.module_styles|length|commaify }}
          </td>

          <td class="number {{ too_big(page.inline_styles, 10) }}">
            {{ page.inline_styles|length|commaify }}
          </td>

          <td class="number {{ too_big(page.classes, 10) }}">
            {{ page.classes|length|commaify }}
          </td>

          <td class="number {{ too_big(page.source, 20000) }}">
            {{ page.source|length|commaify }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
