{% extends 'base.j2' %}

{% from 'utils.j2' import anchor, plural %}

{% macro too_big(collection, bound) %}
  {% if collection|length >= bound %}
    <span class="alert">{{ caller() }}</span>
  {% else %}
    {{ caller() }}
  {% endif %}
{% endmacro %}

{% block title %}SCP Wiki Extracted Pages{% endblock %}

{% block body %}
  <h1 class="title">Pages</h1>

  <p>
    A listing of all pages on the site, along with a summary
    of the properties being extracted here.
  </p>

  <table id="page-list">
    <thead>
      <tr>
        <th scope="col">Title / Link</th>
        <th scope="col">Slug</th>
        <th scope="col">Module Styles</th>
        <th scope="col">Inline Styles</th>
        <th scope="col">CSS Classes</th>
        <th scope="col">Wikitext Length (characters)</th>
      </tr>
    </thead>

    <tbody>
      {% for page in pages %}
        <tr>
          <td data-sort="{{ page_key(page.slug) }}">
            <a href="/wikidot-css-extractor/pages/{{ page.slug }}.html">{{ page.title }}</a>
            {{- anchor('page', page.slug) }}
          </td>

          <td data-sort="{{ page_key(page.slug) }}">
            <code>{{ page.slug }}</code>
          </td>

          <td class="number" data-sort="{{ page.module_styles|length }}">
            {% call too_big(page.module_styles, 3) %}
              {{ page.module_styles|length|commaify }}
            {% endcall%}
          </td>

          <td class="number" data-sort="{{ page.inline_styles|length }}">
            {% call too_big(page.inline_styles, 10) %}
              {{ page.inline_styles|length|commaify }}
            {% endcall %}
          </td>

          <td class="number" data-sort="{{ page.classes|length }}">
            {% call too_big(page.classes, 10) %}
              {{ page.classes|length|commaify }}
            {% endcall %}
          </td>

          <td class="number" data-sort="{{ page.source|length }}">
            {% call too_big(page.source, 200000) %}
              {{ page.source|length|commaify }}
            {% endcall %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
