<script src="https://tristen.ca/tablesort/dist/tablesort.min.js"></script>
<script src="https://tristen.ca/tablesort/dist/sorts/tablesort.number.min.js"></script>
<script src="https://emmiegit.github.io/wikidot-css-extractor/static/script.js" async></script>
