<style>
  /* General */
  body {
    font-family: 'Verdana', arial, sans-serif;
  }

  /* Headers */
  h1 {
    display: inline-block;
    border-bottom: 1px solid #ccc;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-right: 1em;
    margin: 0.25em 0.25em 0.75em 0.25em;
  }

  /* Links */
  a {
    color: #04a;
    text-decoration: underline;
    transition: color .5s;
  }

  a:hover {
    color: #04f;
  }

  a:visited {
    color: #44a;
  }

  a code {
    background-color: inherit;
    padding: inherit;
  }

  a.jump {
    color: #ccc;
  }

  /* Tables */
  table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid black;
  }

  thead th {
    background-color: #bbb;
  }

  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  /* Code */
  code {
    display: inline-block;
    border-radius: 5px;
    background-color: #ddd;
    padding: 0.25em 0.5em 0.25em 0.5em;
  }

  /* Elements */
  .page-source {
    width: 100%;
    height: 80vh;
  }

  div#footer {
    border-top: 1px solid #ccc;
    padding-top: 0.25em;
    margin-top: 2em;
  }
</style>
