<style>
  /* Headers */
  h1 {
    display: inline-block;
    border-bottom: 1px solid #ccc;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Veradana', Arial, sans-serif;
    padding-right: 1em;
    margin: 0.25em 0.25em 0.75em 0.25em;
  }

  /* Links */
  a {
    color: #04a;
    text-decoration: underline;
    transition: color .2s;
  }

  a:hover {
    color: #04f;
  }

  a:visited {
    color: #44a;
  }

  a code {
    background-color: inherit;
    padding: inherit;
  }

  a.jump {
    text-decoration: none;
    font-size: 0.7em;
    vertical-align: super;
  }

  /* Tables */
  table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid black;
    padding: 0.2em;
  }

  thead th {
    background-color: #bbb;
  }

  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  td.number {
    text-align: right;
  }

  /* Lists */
  li.no-bullet {
    list-style: none;
  }

  /* Code */
  code {
    display: inline-block;
    border-radius: 5px;
    background-color: #ddd;
    padding: 0.25em 0.5em 0.25em 0.5em;
  }

  /* Elements */
  .page-source {
    width: 100%;
    height: 80vh;
  }

  div#footer {
    border-top: 1px solid #ccc;
    padding-top: 0.25em;
    margin-top: 2em;
  }
</style>
