{% macro anchor(prefix, name) %}
  <a name="{{ prefix }}-{{ name }}" href="#{{ prefix }}-{{ name }}" class="jump">¶</a>
{%- endmacro %}

{% macro plural_count(collection, word, ending='s') %}
  {{- plural(collection|length, word, ending) -}}
{% endmacro %}

{% macro plural(count, word, ending='s') -%}
  {# For printing strings like "12 apples", where the 's' depends on the count's value #}
  {{- count|commaify }} {{ word -}}
  {%- if count != 1 -%}
    {{- ending -}}
  {%- endif -%}
{% endmacro %}

{% macro info_link(slug) %}
  (<a href="/wikidot-css-extractor/pages/{{ slug }}.html" target="_blank">info</a>)
{% endmacro %}

{% macro page_link(slug) %}
  {% set url = get_page_url(slug) %}

  <a href="{{ url }}" target="_blank"><code>{{ slug }}</code></a>
  {{ info_link(slug) }}
{% endmacro %}

{% macro include_link(include) %}
  {% set url = get_include_url(include) %}
  {% set local_slug = get_local_include_slug(include) %}

  {% if url %}
    <a href="{{ url }}" target="_blank"><code>{{ include }}</code></a>
  {% else %}
    <code>{{ include }}</code>
  {% endif %}

  {% if local_slug %}
    {{ info_link(local_slug) }}
  {% endif %}
{% endmacro %}
