{% macro anchor(prefix, name) -%}
  <a name="{{ prefix }}-{{ name }}" href="#{{ prefix }}-{{ name }}" class="jump">¶</a>
{%- endmacro %}

{% macro plural_count(collection, word, ending='s') %}
  {{- plural(collection|length, word, ending) -}}
{% endmacro %}

{% macro plural(count, word, ending='s') %}
  {# For printing strings like "12 apples", where the 's' depends on the count's value #}
  {{- count|commaify }} {{ word -}}
  {%- if count != 1 -%}
    {{- ending -}}
  {%- endif -%}
{% endmacro %}
